{{ form_start(form, { 'attr': { 'data-action': 'submit->task#saveTask' } }) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.timeStart) }}
    {{ form_row(form.timeEnd) }}
<button type="submit" class="btn btn-primary">Cập nhật</button>
{{ form_end(form) }}
